.DS_Store
node_modules
/dist
/menu-deployment

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略yarn文件
yarn.lock
README*
!README.md
/miniprogram_npm